[Unit]
Description=Setup Proxmox VE /etc/network/interface
After=local-fs.target
Before=networking.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/setup-pve-network.sh start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
